@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

// COLORS
$primary-color-charcoal: #2c2a2a;
$primary-color-gold: #d9bea5;
$primary-color-white: #ffffff;
$primary-color-light-charcoal: #3b3636;
$white-color: white;
$black-color: black;

// FONTS

$primary-font-family: "Cormorant", sans-serif;
$secondary-font-family: "Inter", sans-serif;

// Font sizes

$font-size-extra-extra-large: 40px; // 2.5 rem
$font-size-extra-large: 32px; // 2 rem
$font-size-large: 28px; // 1.75rem
$font-size-medium: 24px; // 1.5rem
$font-size-small: 16px; // 1rem
$font-size-extra-small: 12.8px; // 0.8 rem
$font-size-extra-extra-small: 10px;
// Font weight

$font-weight-regular: 400;
$font-weight-bold: 700;

//Letter-spacing

$letter-spacing: 160%;

// Media queries
$max-mobile-view: 420px;
$max-tablet-view: 760px;
